.container{
  padding: 16px 16px;
  display: flex;
  flex-direction: column;
}

.form{
  display: flex;
  flex-direction: column;

  margin-bottom: 16px;

}
.input{
  height: 30px;
}

.btn{
  padding: 8px;
  border: none;
  margin-top: 8px;

}
.btnSubmit{
  background-color: rgb(0, 187, 109);
  color: #fff;
  text-decoration: none;
}

.btnReset{
  background-color: rgb(68, 143, 255);
  color: #fff;
}

.btnIcon{
  background-color: rgb(0, 187, 109);
  color: #fff;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.qrContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  height: 345px;
  margin-bottom: 16px;
}

.icon{
  margin-right: 8px;
  display: flex;
  align-items: center;
}

footer{
  background-color: rgb(0, 187, 109);
  height: 10%px;
  padding: 32px;
  display: flex;
  flex-direction: column;
  color: #fff;
  align-items: center;
}

.linkUnstyled{
  color: #fff;
  text-decoration: none;
  font-size: 1.8em;
}

.futurelaugh{
  display: flex;
  align-items: center;
  flex-direction: column;
}
