<nav class="nav bg-success container d-flex flex-row justify-content-center align-items-center text-white">
  <img src="./../assets/images/logo.png" alt="QR Code Fast Logo" width="46" height="46">
  QR Code Fast
</nav>

<div class="container">


  <h2>Write an URL to create a QR Code!</h2>
  <br>

  <form [formGroup]="form" (submit)="generate()" [noValidate]="false" class="form">
    <input type="text" value="" minlength="8" formControlName="url"
    class="form-control" placeholder="Write an URL..."
    [ngClass]="{'is-invalid' : !form.valid && form.controls['url'].value}"
    >

    <button type="submit" class="btn btn-success btn-disabled"><b>Generate</b></button>
    <button type="reset" (click)="reset()" class="btn btn-light">Reset</button>
  </form>

  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6792491057660603"
     crossorigin="anonymous"></script>
  <!-- Anuncios Optimizados -->
  <ins class="adsbygoogle"
      style="display:block"
      data-ad-client="ca-pub-6792491057660603"
      data-ad-slot="5595640672"
      data-ad-format="auto"
      data-full-width-responsive="true"></ins>
  <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
  </script>

  <div class="qrContainer">

    <div class="qrDataContainer" *ngIf="form.valid && dataQR !== '' && dataQR !== null">

      <qrcode
        [qrdata]="dataQR"
        [width]="width"
        (qrCodeURL)="onChangeURL($event)"
        [allowEmptyString]="false"
        [errorCorrectionLevel]="'M'">
      </qrcode>

      <p>{{width}} px | {{width * 0.026}} cm</p>

      <a [href]="qrCodeDownloadLink" download="qr-{{dataQR}}.png" class="btn btnIcon btn-success">
        <img src="./../assets/icons/download.svg" alt="Download QR" class="icon">
        Download
      </a>
    </div>

    <div class="qrDataContainer" *ngIf="dataQR === '' || dataQR === null">
      <i>QR Code is generated here...</i>
    </div>

  </div>


</div>

<footer class="bg-success">
  <p>
    Powered by:
    <a href="https://futurelaugh.vercel.app/about" class="linkUnstyled">Future Laugh
      <img src="./../assets/images/futurelaugh.png" alt="Future Laugh Page" width="32" height="32">
    </a>
  </p>

  <p>All rights reserved. 2023</p>
</footer>

