<div class="container">

  <h2>Write an URL to create ASAP a QR Code!</h2>
  <br>

  <form [formGroup]="form" (submit)="generate()" class="form">
    <input type="text" value="" formControlName="url" class="input" placeholder="Write an URL...">

    <button type="submit" class="btn btnSubmit"><b>Generate</b></button>
    <button type="reset" (click)="reset()" class="btn btnReset">Reset</button>

  </form>

  <div class="ads">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6792491057660603"
     crossorigin="anonymous"></script>
  </div>

  <div class="qrContainer">

    <div class="qrDataContainer" *ngIf="dataQR !== ''">

      <qrcode
        [qrdata]="dataQR"
        [width]="width"
        (qrCodeURL)="onChangeURL($event)"
        [allowEmptyString]="true"
        [errorCorrectionLevel]="'M'">
      </qrcode>

      <p>{{width}} px | {{width * 0.026}} cm</p>

      <a [href]="qrCodeDownloadLink" download="{{dataQR}}-qrcode.png" class="btn btnIcon">
        <img src="./../assets/icons/download.svg" alt="Download QR" class="icon">
        Download
      </a>
    </div>

    <div class="qrDataContainer" *ngIf="dataQR === ''">
      <i>QR Code is generated here...</i>
    </div>

  </div>


</div>

<footer>
  <p>Powered by:</p>
  <p class="futurelaugh">
    <a href="https://futurelaugh.vercel.app" class="linkUnstyled">Future Laugh</a>
    <img src="./../assets/images/futurelaugh.png" alt="Future Laugh Page" width="64" height="64">
  </p>
  <p>2023</p>
</footer>

